*.class
bin\adaptivehuffman
bin\
target/

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

!lib/javafx-sdk-21.0.6/**/*.jar
!javafx-sdk/**
!javafx-sdk-21.0.6/**
!**/javafx-sdk/**
!visualization/javafx-sdk-21.0.6/**
!visualization/javafx-sdk-21.0.6/**/*.jar
!bin/adaptivehuffman/
!bin/adaptivehuffman/**

.idea/
.vscode/
.settings/
.classpath
.project
*.iml
*.iws
*.ipr
.factorypath
nbproject/
nb-configuration.xml
nbactions.xml

*.bin
encoded.*
decoded.*
test_*.txt
test_*.bin

build/
out/

*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.dvi
*.pdf

hs_err_pid*

*~
*.bak
*.swp
*.swo

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

test_encoded.bin
test_decoded.txt

!docs/*.png
!docs/visualization_screenshot.png
!docs/images/**

*.log
logs/

hs_err_pid*

*.png
*.jpg
*.jpeg
*.gif
*.bmp

!docs/**/*.png
!docs/**/*.jpg
!docs/**/*.jpeg
!docs/**/*.gif

